@media screen and (max-width: 500px) {
            .application {
                margin: auto;
                width: 88%;
            }
            .fetch, .button, .inputnumbers {
                 width:85%;
             }
             .button {
                 width:87%;
             }
            .inputnumbers1 {
                border-color: #699FAE;
                border-width: 1px;
                border-style: Solid;
                margin:auto;
                width:87%;
        }